{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} MAKE WINE PREDICTIONS {% endblock %}</h1>
    <form method="post">


        <label for="color">Wine Color</label>
        <br>
        <input type="text" name="color"
               placeholder="Input wine color"
               value="{{ request.form['color'] }}"></input>
        <br>

        <label for="flav">Flavinoseque</label>
        <br>
        <input type="text" name="flav"
               placeholder="Input Flavs"
               value="{{ request.form['flav'] }}"></input>
        <br>

        <label for="alc">Alcohol level</label>
        <br>
        <input type="text" name="alc"
               placeholder="Input Alcohol level"
               value="{{ request.form['alc'] }}"></input>
        <br>

        <label for="prol">Prololol level</label>
        <br>
        <input type="text" name="prol"
               placeholder="Input Prol"
               value="{{ request.form['prol'] }}"></input>
        <br>

        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <div><STRONG>Prediction: {{prediction}}</STRONG></div>
   <script>
        function submitForm() {
            var color = document.getElementsByName("color")[0].value;
            var flav = document.getElementsByName("flav")[0].value;
            var alc = document.getElementsByName("alc")[0].value;
            var prol = document.getElementsByName("prol")[0].value;

            var formData = {
                color: color,
                flav: flav,
                alc: alc,
                prol: prol
            };

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/predict", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Manejar la respuesta exitosa, por ejemplo, mostrar la predicción en la página
                    console.log(xhr.responseText);
                } else {
                    // Manejar errores, por ejemplo, mostrar un mensaje de error
                    console.error(xhr.statusText);
                }
            };

            xhr.onerror = function () {
                // Manejar errores de red
                console.error("Error de red al enviar la solicitud");
            };

            xhr.send(JSON.stringify(formData));
        }
    </script>
{% endblock %}
