{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} MAKE WINE PREDICTIONS {% endblock %}</h1>
    <form method="post">


        <label for="color">Wine Color</label>
        <br>
        <input type="text" name="color"
               placeholder="Input wine color"
               value="{{ request.form['color'] }}"></input>
        <br>

        <label for="flav">Flavinoseque</label>
        <br>
        <input type="text" name="flav"
               placeholder="Input Flavs"
               value="{{ request.form['flav'] }}"></input>
        <br>

        <label for="alc">Alcohol level</label>
        <br>
        <input type="text" name="alc"
               placeholder="Input Alcohol level"
               value="{{ request.form['alc'] }}"></input>
        <br>

        <label for="prol">Prololol level</label>
        <br>
        <input type="text" name="prol"
               placeholder="Input Prol"
               value="{{ request.form['prol'] }}"></input>
        <br>

        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <div><STRONG>Prediction: {{prediction}}</STRONG></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#predictionForm").submit(function (event) {
                event.preventDefault();
                var formData = {
                    color: $("input[name='color']").val(),
                    flav: $("input[name='flav']").val(),
                    alc: $("input[name='alc']").val(),
                    prol: $("input[name='prol']").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/predict",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(formData),
                    success: function (data) {
                        // Manejar la respuesta exitosa, por ejemplo, mostrar la predicción en la página
                        console.log(data);
                    },
                    error: function (error) {
                        // Manejar errores, por ejemplo, mostrar un mensaje de error
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}
